@import "mixins";
@media (max-width:1200px) and (min-width:768px) {
    .footer {
        background-color: rgba(0, 0, 0, 1);
        @include flex(column, center, center, no-wrap, center);
    }
    .footerTitle {
        @include font(Roboto, 16px, normal, 700, rgba(254, 254, 254, 1), 22px);
        padding-top: 66px;
        padding-bottom: 22px;
    }
    .footerText {
        @include font(Roboto, 16px, normal, 400, rgba(185, 185, 185, 1), 28px);
        padding-bottom: 37px;
    }
    .contacts {
        @include font(Roboto, 16px, normal, 400, rgba(185, 185, 185, 1), 26px);
        padding-top: 34px;
        padding-bottom: 70px;
    }
    .icon {
        margin-right: 5px;
    }
};

@media (max-width:768px) and (min-width:321px) {
    .footer {
        background-color: rgba(0, 0, 0, 1);
        @include flex(column, center, center, no-wrap, center);
    }
    .footerTitle {
        @include font(Roboto, 16px, normal, 700, rgba(254, 254, 254, 1), 22px);
        padding-top: 57px;
        padding-bottom: 22px;
    }
    .footerText {
        @include font(Roboto, 16px, normal, 400, rgba(185, 185, 185, 1), 28px);
        padding-bottom: 37px;
    }
    .contacts {
        @include font(Roboto, 16px, normal, 400, rgba(185, 185, 185, 1), 26px);
        padding-top: 34px;
        padding-bottom: 56px;
    }
};

@media (max-width:320px) {
    .footer {
        background-color: rgba(0, 0, 0, 1);
        @include flex(column, center, center, no-wrap, center);
    }
    .footerTitle {
        @include font(Roboto, 14px, normal, 700, rgba(254, 254, 254, 1), 22px);
        padding-top: 57px;
        padding-bottom: 22px;
    }
    .footerText {
        @include font(Roboto, 12px, normal, 400, rgba(185, 185, 185, 1), 20px);
        padding-bottom: 37px;
    }
    .contacts {
        @include font(Roboto, 14px, normal, 400, rgba(185, 185, 185, 1), 24px);
        padding-top: 34px;
        padding-bottom: 56px;
    }
};