@import "mixins";
@import "variables";

@media (max-width:1200px) and (min-width:769px) {
    .instSecction {
        background-color: rgba(0, 0, 0, 0.03);
        padding-bottom: 49px;
    }
    .instTitle {
        @include flex(row, space-between, center, no-wrap, center);
        @include font(Roboto, 16px, normal, 700, rgba(78, 78, 78, 1), 22px);
        padding-top: 47px;
        padding-bottom: 24px;
        padding: 47px 25px 24px 25px;
    }
    .instImgs {
        display: flex;
        justify-content: space-around;
    }
    .instImage {
        width: 20%;
    }
};

@media (max-width:768px) and (min-width:321px) {
    .instSecction {
        background-color: rgba(0, 0, 0, 0.03);
    }
    .instTitle {
        @include flex(row, space-between, center, nowrap, center);
        @include font(Roboto, 13px, normal, 700, rgba(78, 78, 78, 1), 22px);
        padding: 47px 25px 35px 25px;
    }
    .instImgs {
        @include flex(row, center, center, no-wrap, center);
        padding: $padding;
        
    }
    .instImage { 
        width: 33%;
        padding-right: 9px;
        padding-bottom: 50px;
        &:last-child{
        display: none;
        }
        &:nth-child(3){
        padding-right: 0;
        }
    }
};
@media (max-width:320px) {
    .instSecction {
        padding-bottom: 42px;
    }
    .instTitle {
        @include font(Roboto, 14px, normal, 700, rgba(78, 78, 78, 1), 22px);
        padding: 0 0 13px 25px;
    }
    .rightText {
        display: none;
    }
    .leftText {
        padding-bottom: 13px;
    }
.instImgs {
    display: flex;
    
}    
.instImage{
    display: none;
    width: 100%;
    padding: 0 25px 0 25px;
    &:first-child{
        display: flex;
        }
    }

};