@mixin flex($direction, $justify-content, $align-items, $flex-wrap, $text-align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-wrap: $flex-wrap;
    text-align: $text-align;
}

@mixin font($font-name, $font-size:16px, $font-style:normal, $font-weight:400, $font-color:rgba(78, 78, 78, 1), $line-height:1) {
    font-family: $font-name, sans-serif;
    font-size: $font-size;
    font-style: $font-style;
    font-weight: $font-weight;
    color: $font-color;
    line-height: $line-height;
  }
