@import "mixins";
@media (max-width:1200px) and (min-width:769px) {
    .burger-menu_nav {
      height: 55px;
      @include font(Roboto, 11px, normal, 400, rgba(78, 78, 78, 1), 22px);
      @include flex(row, space-evenly, center, nowrap, center);
        .burger-menu_link:hover {
          color: $hover;
        }
      }
    .mainImage {
      img {
        width: 100%;
        padding-bottom: 66px;
        padding: $padding;
      }
    }
  };
@media (max-width:768px) and (min-width:321px) {
    .burger-menu {
      overflow: hidden;
      position: relative;
    }
    .burger-menu_nav {
      position: absolute;
      top: 0;
      margin-top: 50px;
      flex-direction: column;
      justify-items: center;
      align-content: center;
    }
    a.selected {
      background-color: rgba(229, 229, 229, 1);
    }
    .mainImage {
      padding-top: 83px;
      
      img {
        width: 100%;
        padding: 0 25px 56px 25px;
      }
    }
    .burger-menu_button {
      position: absolute;
      top: 10px;
      right: 25px;
      z-index: 30;
      width: 44px;
      height: 37px;
      background-color: black;
      transition: 0.4s;
      }
  .burger-menu_lines::before,
  .burger-menu_lines::after,
  .burger-menu_lines {
    position: absolute;
    width: 17px;
    height: 2px;
    background-color: white;
    transition: 0.4s;
  }
  .burger-menu_lines {
    top: 30px;
    right: 30px;
    transform: translate(-50%, -50%);
    z-index: 33333333;
  }
  .burger-menu_lines::before {
    content: '';
    top: -6px;
  }
  .burger-menu_lines::after {
    content: '';
    top: 6px;
  }
  
  .burger-menu_active .burger-menu_lines {
    background-color: transparent;
  }
  .burger-menu_active .burger-menu_lines::before {
    top: 0;
    transform: rotate(45deg);
  }
  .burger-menu_active .burger-menu_lines::after{
    top: 0;
    transform: rotate(-45deg);
  }
  
  .burger-menu_nav {
    position: absolute;
    top: 0;
    z-index: 20;
    display: flex;
    flex-flow: column;
    background-color: rgba(245, 245, 245, 1);
    overflow-y: auto;
    right: -100%;
    transition: 0.8s;
  }
  .burger-menu_active .burger-menu_nav {
    right: 25px;
    transition: 0.4s;
  }
  .burger-menu_link {
    @include font(Roboto, 11px, normal, 400, rgba(78, 78, 78, 1), 22px);
    margin: 0;
    width: 182px;
    height: 28px;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 12px;
    padding-top: 4.5px;
  }
  .burger-menu_link:hover {
    color: $hover;
  }
  .burger-menu_overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }
  };

@media (max-width:320px) {
  .burger-menu {
    max-width: 320px;
    overflow: hidden;
    position: relative;
  }
  .burger-menu_nav {
    position: absolute;
    top: 0;
    margin-top: 50px;
    flex-direction: column;
    justify-items: center;
    align-content: center;
  }
  a.selected {
    background-color: rgba(229, 229, 229, 1);
  }
  .mainImage {
    padding: 83px 25px 0 25px;
    img {
      width: 253px;
      height: 160px;
    }
  }
  .burger-menu_button {
    position: absolute;
    top: 10px;
    right: 25px;
    z-index: 30;
    width: 44px;
    height: 37px;
    background-color: black;
    transition: 0.4s;
    }
  .burger-menu_lines::before,
  .burger-menu_lines::after,
  .burger-menu_lines {
    position: absolute;
    width: 17px;
    height: 2px;
    background-color: white;
    transition: 0.4s;
  }
  .burger-menu_lines {
    top: 30px;
    right: 30px;
    transform: translate(-50%, -50%);
    z-index: 33333333;
  }
  .burger-menu_lines::before {
    content: '';
    top: -6px;
  }
  .burger-menu_lines::after {
    content: '';
    top: 6px;
  }

  .burger-menu_active .burger-menu_lines {
    background-color: transparent;
  }
  .burger-menu_active .burger-menu_lines::before {
    top: 0;
    transform: rotate(45deg);
  }
  .burger-menu_active .burger-menu_lines::after{
    top: 0;
    transform: rotate(-45deg);
  }

  .burger-menu_nav {
    position: absolute;
    top: 0;
    z-index: 20;
    display: flex;
    flex-flow: column;
    background-color: rgba(245, 245, 245, 1);
    overflow-y: auto;
    right: -100%;
    transition: 0.8s;
  }
  .burger-menu_active .burger-menu_nav {
    right: 25px;
    transition: 0.4s;
  }
  .burger-menu_link {
    @include font(Roboto, 11px, normal, 400, rgba(78, 78, 78, 1), 22px);
    margin: 0;
    width: 182px;
    height: 28px;
    text-decoration: none;
    text-transform: uppercase;
    // border-bottom: 1px solid #fff;
    padding-left: 12px;
    padding-top: 4.5px;
  }

  .burger-menu_link:hover {
    color: $hover;
  }
  .burger-menu_overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }
};