@import "mixins";
@media (max-width:1200px) and (min-width:768px) {

    .recentSection {
        padding: $padding;
    }
    .recentTitle{
        @include font(Roboto, 16px, normal, 700, rgba(78, 78, 78, 1), 22px);
        padding: 56px 0 24px 0;
        }
    .recentBlocks{
        display: flex;
        flex-wrap: wrap;
    }
    .block {
        @include flex(row, flex-start, center, no-wrap, left);
        width: 50%;
        padding-bottom: 32px;
        .firstText{
            @include font(Roboto, 16px, normal, 400, rgba(78, 78, 78, 1), 30px);
        }
        .secondText{
            @include font(Roboto, 12px, normal, 400, rgba(124, 124, 124, 1), 20px);
        }
        .thirdText {
            @include font(Roboto, 14px, normal, 400, rgba(92, 92, 92, 1), 26px);
            overflow-wrap: break-word;
            padding-right: 25px;
        }
    }
    .textBlock {
      padding-left: 21px;
    }
};

@media (max-width:768px) and (min-width:320px) {
    .recentSection {
        padding-bottom: 28px;
        padding: $padding;
    }
    .recentTitle {
        @include font(Roboto, 16px, normal, 700, rgba(78, 78, 78, 1), 22px);
        padding: 0 25px 24px 25px;
        }
    .recentImg {
        padding-right: 21px;
    }
    .block {
        @include flex(row, left, center, nowrap, left);
        padding-bottom: 32px;
        .firstText{
            @include font(Roboto, 16px, normal, 400, rgba(78, 78, 78, 1), 30px);
        }
        .secondText{
            @include font(Roboto, 12px, normal, 400, rgba(124, 124, 124, 1), 20px);
        }
        .thirdText {
            @include font(Roboto, 14px, normal, 400, rgba(92, 92, 92, 1), 26px);
            overflow-wrap: break-word;
        }
    }
};

@media (max-width:320px) {
    .thirdText{
        display: none;
    }
    .recentSection {
        padding: 0 25px 77.5px 25px;
        
    }
    .recentTitle {
        @include font(Roboto, 14px, normal, 700, rgba(78, 78, 78, 1), 22px);
        padding: 38px 0 23px 0;
        }
    .recentImg {
        padding-right: 21px;
        width: 160px;
        height: 140px;
    }
    .block {
        @include flex(column, left, flex-start, nowrap, left);
        padding-bottom: 28.5px;
        .firstText{
            @include font(Roboto, 16px, normal, 400, rgba(78, 78, 78, 1), 30px);
        }
        .secondText{
            @include font(Roboto, 12px, normal, 400, rgba(124, 124, 124, 1), 20px);
        }
        &:last-child{
            display: none;
        }
    }
};
