@import "variables";
@import "mixins";
@import "navBar";
@import "recent";
@import "inst";
@import "footer";
@import "reset";

*{
  box-sizing: border-box;
  text-decoration: none;
}
.body {
  overflow: hidden;
}